.sectionOneContainer {
    width: 100vw;
    height: 450px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sectionOneContainer .one {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sectionOneContainer .one h3 {
    font-size: 20px;
    color: #262753;
    margin-left: 50px;
}

.sectionOneContainer .two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 400px;
    flex-direction: column;
}

.sectionOneContainer .two .first {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionOneContainer .two .first ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.sectionOneContainer .two .first ul li {
    font-size: 13px;
    margin: 0 15px;
    color: #262753;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionOneContainer .two .first ul li:first-child {
    font-weight: 500;
    border-bottom: 2px solid #262753;
    padding-bottom: 2px;
}

.sectionOneContainer .two .second {
    width: 100%;
    height: 300px;
}

.sectionOneContainer .two .second .screen {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 34, 255);
    background-image: linear-gradient(45deg, rgb(114, 142, 255) , rgb(0, 51, 253) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.sectionOneContainer .two .second .screen h3 {
    color: #fff;
    font-size: 20px;
}

.sectionOneContainer .two .second .screen .light {
    color: #fff;
    position: relative;
    top: -100px;
    left: -350px;
}

.sectionOneContainer .two .second .screen .volume {
    color: #fff;
    position: relative;
    top: -100px;
    left: 180px;
}

.sectionOneContainer .two .third {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionOneContainer .two .third .secOne {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionOneContainer .two .third .secTwo {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionOneContainer .two .third .secTwo .text {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}



.sectionOneContainer .two .third .secTwo .left {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(to top, #464fb1, #0a126a);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.sectionOneContainer .two .third .secTwo .left .leftIcon {
    color: #fff;
}

.sectionOneContainer .two .third .secTwo .right {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(to top, #464fb1, #0a126a);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.sectionOneContainer .two .third .secTwo .right .rightIcon {
    color: #fff;
}

.sectionOneContainer .two .third .secThree {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:850px) {

    .sectionOneContainer .one {
        height: 20px;
    }
    .sectionOneContainer .one h3 {
        font-size: 17px;
    }

    .sectionOneContainer .two {
        width: 500px;
        height: 300px;
    }

    .sectionOneContainer .two .second {
        height: 220px;
    }

}


@media(max-width:620px) {
    .sectionOneContainer .one h3 {
        font-size: 15px;
    }

    .sectionOneContainer .two {
        width: 300px;
        height: auto;
    }

    .sectionOneContainer .two .first ul li {
        margin: 0 8px;
    }

    .sectionOneContainer .two .second {
        height: 220px;
    }

}
